@CHARSET "UTF-8";
/* Vertical tabs navigation: */
#profileContainer {
	box-sizing: border-box;
	font-family: "Lato", sans-serif;
	width: 85%;
	margin: 0 auto;
	margin-top: 2em;
}

/* Style the tab */
.tab {
    float: left;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    width: 30%;
    height: auto;
}

/* Heading for the tab */

.myData {
	padding: 1em;
	padding-bottom: 1.5em;
	font-size: 1.2em;
	font-weight: bold;
	color: #111111;
}

/* Style the buttons inside the tab */
.tab button {
    display: block;
    background-color: inherit;
    color: black;
    padding: 1.3em 1em;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 1.05em;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current "tab button" class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.mainContentOfSelected {
    float: left;
    padding: 0px 0.75em;
    border: 1px solid #ccc;
    width: 70%;
    height: auto;
}
/* End of vertical tab navigation */

/* Logout user and delete user style: */
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 1.1em;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 0.9em;
    transition: 0.4s;
}

.accordion.active, .accordion:hover {
    background-color: #ddd;
}

.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 0.3em;
}

.accordion.active:after {
    content: "\2212";
}

.formPannel {
    padding: 0 1em;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
.forContent {
	padding: 1em;
}
/* Change Skin button styles: */
#profSkinsPar {
	display: inline-block;
}
/* Popular and most properties of EyeFriendly: */
.popular, .eyeFriendly {
  padding: 0.2em 0.3em;
  font-size: 0.8em;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #0000FF;
  border: none;
  border-radius: 0.3em;
  box-shadow: 0 9px #e70001;
}
.popular:hover {background-color: #017fc1}
.popular:active {
  background-color: #017fc1;
  box-shadow: 0 0.4em #e70001;
  transform: translateY(0.25em);
}
/* EyeFriendly set colors: */
.eyeFriendly {
  background-color: #f9792a;
  box-shadow: 0 9px #017fc1;
}
.eyeFriendly:hover {background-color: #ffbb91}
.eyeFriendly:active {
  background-color: #ffbb91;
  box-shadow: 0 0.4em #017fc1;
}
/* Delete submit button and logout submit button style: */
.submitFormPannel, .refuse {
  padding: 0.2em 0.3em;
  font-size: 0.8em;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #e00000;
  border: none;
  border-radius: 0.3em;
  box-shadow: 0 9px #999;
}
.refuse {
	background-color: #20db00;
}
.submitFormPannel:hover {background-color: #9b0000}

.submitFormPannel:active, .refuse:active {
  background-color: #9b0000;
  box-shadow: 0 0.4em #666;
  transform: translateY(0.25em);
}
.refuse:hover, .refuse:active {
	background-color: #169b00;
}
/* div personalData */
.personalData {
	width: 95%;
	margin: 0 auto;
}
/* Avatar picture and its container: */
.mainAvatarWrapper {
	width: 100%;
}
.avatarContainer {
	width: 30%;
	height: 10em;
	margin: 0 auto;
	margin-bottom: 0.5em;
}
.avatarContainer img {
	max-width: 100%;
	max-height: 100%;
	display: block;
	margin: 0 auto;
	border-radius: 50%;
}
#fileName {
	display: block;
	margin: 0 auto;
	margin-top: 0.2em;
	margin-bottom: 0.2em;
	width: 30em;
}
/* Button for Upload: */
.file-drop-area {
  border: 1px dashed #1F2324;
  border-radius: 3px;
  position: relative;
  width: 25em;
  max-width: 100%;
  margin: 0 auto;
  padding: 1.5em;
  transition: 0.2s;
  &.is-active {
    background-color: $background--light;
  }
}

.fake-btn {
  background-color: #39D2B4; /*#3F4069*/
  border: 1px solid #9E9EC4;
  border-radius: 3px;
  padding: 8px 15px;
  margin-right: 8px;
  font-size: 12px;
  text-transform: uppercase;
}

.file-msg {
  font-size: small;
  font-weight: 300;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  max-width: calc(100% - 2em);
  vertical-align: middle;
}

.file-input {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  cursor: pointer;
  opacity: 0;
  &:focus {
    outline: none;
  }
}
/* for almost all change buttons */
.changeButton {
  padding: 0.2em 0.3em;
  font-size: 0.8em;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #39D2B4;
  border: none;
  border-radius: 0.3em;
  box-shadow: 0 9px #9E9EC4;
}
.changeButton:hover {background-color: #639b5e}
.changeButton:active {
  background-color: #639b5e;
  box-shadow: 0 0.4em #9E9EC4;
  transform: translateY(0.25em);
}
/* specifics of #uploadSubmit */
#uploadSubmit {
  display: block;
  margin: 0 auto;
  margin-top: 0.5em;
  margin-bottom: 1em;
}